<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
   <dict>
      <key>AdaptyPublicSdkKey</key>
      <string>public_live_zDiy07Tf.MPqSaEeJcI0reeErb5Nf</string>
      <key>AdaptyStoreKit2Usage</key>
      <string>none</string>
   </dict>

</plist>
